html {
    height: 100%;
} 

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Lexend Deca', 'Arial', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', 'Arial', sans-serif;
    font-weight: 700;    
    margin: 0;
}

main {
    flex-grow: 1;
}

hr {
    margin: 0;
}