.dumaloq {
    overflow-x: hidden;
    
    &__container {
        margin-bottom: 200px;
    }
    
    &__list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:not(:last-child) {
            margin-bottom: 160px;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }        
    }
    
    &__box {
        width: 445px;
    }
    
    &__img-wrapper {
        position: relative;
        
        &::before {
            position: absolute;
            content: "";
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background-color: $lightGrey;
            bottom: -8px;
            left: 115%;
        }
        
        &::after {
            position: absolute;
            content: url(./../images/arrow3.svg);
            top: 75px;
            left: 250px;        
        }        
    }
    
    &__list-item:nth-child(odd) &__img-wrapper::before {
        left: -115%;
    } 
    
    &__list-item:nth-child(odd) &__img-wrapper::after {
        position: absolute;
        content: url(./../images/arrow4.svg);
        top: 0;
        left: -125%;
    } 
    
    &__img {
        border-radius: 50%;
    }
    &__img1 {
        display: none;
    }
    
}

@media only screen and (max-width: 950px) {
    .dumaloq {
        &__container {
            margin-bottom: 104px;
        }
        
        &__list-item {
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            &:not(:last-child) {
                margin-bottom: 128px;
            }
            
            &:nth-child(odd) {
                flex-direction: column;
            }    
        }
        
        &__box {
            width: 573px;
        }
        
        &__img-wrapper {
            order: -1;
            margin-bottom: 64px;
        }
        
    }
}

@media only screen and (max-width: 700px) {
    .dumaloq {
        &__container {
        }
        
        &__list-item {
            margin-bottom: 120px;
        }

        &__box {
            width: 311px;
        }

        &__img-wrapper {
            position: relative;      
                  
            &::before {
                display: none;
            }
            
            &::after {
                top: 0;
                left: 125px;        
            }            
        }
        &__list-item:nth-child(odd) &__img-wrapper::after {
            top: 0;
            left: -500px;
        } 

        &__img {
            display: none;
        }
        &__img1 {
            display: block;
            border-radius: 50%;
        }
    }
}